* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #CBD5E1;
    background-color: #0F172A;
}

.container {
    position: relative;
    width: 725px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #CBD5E1;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #CBD5E1;
}

h1 {
    font-size: 48px;
    color: #16A34A;
}

p {
    margin: 16px;
}

#player-el {
    position: absolute;
    top: 5px;
    right: 20px;
}

button {
    padding: 7px 21px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
}

